.overlay-bg {
  position: fixed;
  z-index: 9001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(25,45,48,.85);
  overflow: auto;
  display: none;
  justify-content: center;
  align-items: center;
}
.overlay-bg.active {
  display: flex;
}
